$font-stack: 'Courier New', Courier, monospace;
$font-size: 0.8rem;
$align: center;
$background: rgb(134, 74, 74);
$padding: 1rem;
$width: 100%;
$hover: pointer;
$medium-screen: 1024px;
$large-screen: 1280px;