@import '../utilities/mixins';
@import '../utilities/variables';

.container {

    &__button {
            @include border;
            cursor: $hover;
    }

    &__info {
        padding-bottom: $padding;
        text-align: center;
    }
}

.button {
    padding-top: 1rem;
    
    &__form {
        @include border;
        cursor: $hover;
    }
}

.groups {
    padding-top: 1rem;
    
    &__proceedButton {
        @include border;
        cursor: $hover;
    }
}