$font-stack: 'Courier New', Courier, monospace;
$background-color: lightgray;
$padding: 0.4rem;
$border: 1px solid lightgray;
$border-radius: 1rem;
$width: 100%;
$margin-top: 1rem;
$hover: pointer;
$x-small-screen: 475px;
$small-screen: 640px;
$medium-screen: 768px;
$large-screen: 1280px;