$font-stack: 'Courier New', Courier, monospace;
$text-color: #524c4c;
$container-color: #524c4c;
$btn-background-color: #FFD6E7;
$btn-text-weight: 600;
$text-transform: uppercase;
$margin: 0 auto;
$border: 1px solid;